[submodule "3rd_party/glfw"]
	path = 3rd_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd_party/glm"]
	path = 3rd_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd_party/entt"]
	path = 3rd_party/entt
	url = https://github.com/skypjack/entt.git
